@import "../../../styles/variables.scss";

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-color: $grey-bg-color;
  }
  .form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

img {
  flex: 1;
  max-width: 100%;
  height: auto;
}

img.logo {
  max-width: 100px;
}
